.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid rgb(174, 0, 96);
    border-bottom: 5px solid rgb(174, 0, 96);
    border-left: 5px solid rgb(174, 0, 96);
    border-right: 5px solid rgb(174, 0, 96);
    border-radius: 15px;
}

.todo{
    display: flex;
    justify-content:space-between;
    padding: 1em;
}

.todoelement{
    background: transparent;
    /*border: 1px solid rgba(174, 0, 96, 0.169);*/
    outline: none;
    /*font-style: ;*/
    border: none;
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
}

.todo:has(.todocheckbox:checked){
    color: #555555;
    background: #eeeeee;
    text-decoration: line-through;
    border-radius: 7px;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(174, 0, 96);
}